/*All Colors and gradients*/
.green-grad{
    background: linear-gradient(319deg, #dbf26e 0%, #61fa74 37%, #1cfdd6 100%);
    background-clip: text;
    color: transparent;
}

/*Navbar-section*/
.gfg-bg {
  background-color: #308d46 !important;
}
.gfg-color{
  color:#308d46 !important;
}
.navbar .logo-text {
  font-family: "Nunito", sans-serif !important;
  font-weight: 850;
}
.heading {
  line-height: 1.2;
  font-family: "Garet Heavy",'Mona Sans','Poppins' !important;
}
.heading,
.tag-line {
  font-family: "Garet Heavy",'Mona Sans','Poppins' !important;
}
.lbr {
  display: none;
}


/* About section */
/* Apply filter and drop-shadow-xl effects */
.custom-shadow {
  filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 20px 25px rgba(0, 0, 0, 0.1));
}

/* Core Team section */
.team-member-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 2s ease-in-out !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6) !important;
  transition: box-shadow 0.5s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(0);
}
.team-member-card:hover{
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.8) !important;
  transform: translateY(-5px) !important;
}
.team-member-card h3,
.team-member-card p {
  text-align: center;
}
.team-member-card {
  transition: all 0.3s ease-in !important;
}

/* Events section */
.calendar-icon{
  font-weight: bold !important;
  font-size: 1.3rem !important;
}

/* FAQ's section */


/*Contact-Us Section*/
.icon-container {
  width: 3rem !important;
  height: 3rem !important;
}
.Toastify__toast-container{
  z-index:9999;
}
.icon-container i {
  font-size: 1.5rem;
}
.contact-form input,
textarea {
  outline: none !important;
  border: 1px solid green !important;
}
.icon-par{
  transition: background-color 0.3s ease; /* Smooth transition */
}
.icon-par:hover{
  background-color: hsl(160, 51%, 60%); /* Light Green on hover */
  background-color: #5cf164; /* Light Green on hover */
  font-weight: bold !important;
}

.team-member-card{
  transition: background-color 0.3s ease;
}
.team-member-card:hover{
  background-color: #5cf164;
  background-color: #4ade80;
}
.team-member-card:hover .team-member-card p{
  font-weight: bold !important;
}
.border-white{
  border-color: white !important;
}




/*Other utility CSS*/
.green-gradient-text {
  /* background: linear-gradient(109.6deg, rgb(0, 204, 130) 11.2%, rgb(58, 181, 46) 91.7%); */
  background: radial-gradient(
    circle at -1% 57.5%,
    rgb(19, 170, 82) 0%,
    rgb(0, 102, 43) 90%
  );
  /* background: radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%); */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
#typewriter {
  background: linear-gradient(
    111.4deg,
    rgb(2, 255, 4) 18.4%,
    rgb(0, 232, 237) 100.2%
  );
  background: linear-gradient(
    109.6deg,
    rgb(0, 204, 130) 11.2%,
    rgb(58, 181, 46) 91.7%
  ) ;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: "Garet Heavy" !important;
}
.geek {
  font-family: "Garet Heavy" !important;
}
.heading {
  background: radial-gradient(
    circle at -1% 57.5%,
    rgb(19, 170, 82) 0%,
    rgb(0, 102, 43) 90%
  );
  background: radial-gradient(
    circle at -1% 57.5%,
    rgb(19, 170, 82) 0%,
    rgb(0, 102, 43) 90%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.image-container {
  position: relative;
}
.image-container img {
  display: block;
}
.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
}

/* Responsiveness */
@media only screen and (max-width: 600px) {
  .hero-section {
    height: 80vh !important;
    overflow: hidden !important;
  }
  .navbar .logo {
    height: 1.5rem;
  }
  .tag-line,
  .heading {
    font-size: 2.5rem;
  }
  .lbr {
    display: block;
  }
  .hero-img-con img {
    height: 20rem;
    width: 20rem;
  }
  .soc-par {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media only screen and (max-width: 520px) {
  .heading,
  .tag-line {
    font-size: 2.3rem;
  }
  .soc-par {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
}
@media only screen and (max-width: 455px) {
  .heading,
  .tag-line {
    font-size: 2rem;
  }
  .soc-par {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .hero-img-con img {
    height: 15rem;
    width: 15rem;
  }
}
@media only screen and (max-width: 407px) {
  .navbar .logo {
    height: 1.3rem;
  }
  .navbar .logo-text {
    font-size: 1.2rem;
  }
  .heading,
  .tag-line {
    font-size: 1.7rem;
  }
  .grid {
    grid-template-columns: 1fr !important;
  }
  .soc-par {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .soc-gpar {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
}
