/* Importing Poppins, Montserrat, Arvo, GreatVibes, Lobster, and Pacifico from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Montserrat&family=Arvo&family=Great+Vibes&family=Lobster&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@font-face {
  font-family: "Garet Heavy";
  src: url("/fonts/Garet-Heavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mona Sans';
  src: url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
       url('/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
/* Green grid pattern background */
.primary {
  width: 100%;
  height: 100%;
  --color: rgba(0, 128, 0, 0.05);
  --color: rgba(0, 128, 0, 0.08);
  background-color: #e8f5e9;

  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
                    linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
  background-size: 55px 55px;
}
.navbar{
  /* background-color: #131417 !important; */
}
.nav-menu li a{
  color:green;
}
.gfg-dark-color{
  background-color: #131417;
}
body{

}
.dark .primary{
  width: 100%;
  height: 100%;
  --color: rgba(0, 255, 0, 0.04); /* Brighter green with a slight transparency */
  --color: rgba(0, 255, 0, 0.04); /* Slightly stronger green */

  background-color: #1b1b1b;
  /* background-color: #1b1c1f; */

  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
                    linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
  background-size: 55px 55px;background-color: #131417 !important;

}

.toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 1rem; */
}
.toggle i{
 border:none;
 outline: none;
 color:green;
}
.light-mode-icon {
  background: url('/assets/lightmode.svg') no-repeat;
  background-size: 100%;
  width:2.2em;
  height:2.2em;
}

/* Icon for dark mode */
.dark-mode-icon{
  background: url('/assets/darkmode.svg') no-repeat;
  width:1.6em;
  height:1.6em;
  background-size: 100%;
}



