
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Global styles */
/* Mona Sans font */
@font-face {
  font-family: 'Mona Sans';
  src: url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
       url('/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
* {
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif !important; */
    font-family: 'Mona Sans', 'Poppins', sans-serif !important;
}

/* @font-face {
    font-family: 'Garet Heavy';
    src: url('/fonts/Garet-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } */
